.footer1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.footer_card{
    margin-top:20px;
    height:200px;
    width:230px;
    border-radius:5px;
    border-top: 5px solid #5cb4ec;
    box-shadow: 0 15px 20px #767a7c;
    padding: 5px 20px;
}

.heading{
    font-size:1.3rem;
    font-weight:bold;
}

.text{
    font-size:1rem;
}

.small_text{
    font-size:0.9rem;
    color: #767a7c;
}

.button{
    border: none;
    background-color: #0582ca;
    color: #fff;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color:#5cb4ec;
}

